.header-container{
    background-color: #302E2E;
    text-align: center;
    height: 60px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.changeGroup {
    background-color: #545454;
    border-radius: 0 5px 5px 0px;
    border-right: 3px solid #EEA21B;
    border-top: 3px solid #EEA21B;
    border-bottom: 3px solid #EEA21B;
    color: #EFA31A;
    width: 60px;
    display: flex;
    font-size: large;
    justify-content: center;
    align-items: center;
}
/* .changeGroup button{
    background-color: #d9d9d9;
    border: none;
    font-size: 25px;
    margin: 0;
} */

.groupName{
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EFA31A;
    width: 85%;
    font-size: 34px;
}


.burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 35px; /* Ширина полосок */
    height: 5px; /* Высота полосок */
    background-color:#EFA31A; 
    margin: 2px 0; /* Отступы между полосками */
    transition: all 0.3s ease; /* Плавный переход */
}
/* Эффект при активном состоянии бургер-меню */
.burger.active .line:nth-child(1) {
    transform: translateY(9px) rotate(45deg); /* Первая полоска */
}

.burger.active .line:nth-child(2) {
    opacity: 0; /* Вторая полоска исчезает */
}

.burger.active .line:nth-child(3) {
    opacity: 0; /* Третья полоска исчезает */
}

.burger.active .line:nth-child(4) {
    transform: translateY(-9px) rotate(-45deg); /* Четвертая полоска */
}

