.modal-overlayGroup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
}
.groupBlock{
}
.modalName{
    position: relative;
    display:flex;
    justify-content: space-around;
    font-size: 1.5em;
    align-items: center;
    background-color: #545454;
    width: 100%;
    font-weight: 700;
    border-radius: 5px;
    border-right:3px solid #EEA21B ;
    border-bottom:3px solid #EEA21B ;
    border-top:3px solid #EEA21B ;
    height: 50px;;
}
.vertical-burger {
    display: flex;
    flex-direction: row; /* Вертикальное расположение полосок */
    cursor: pointer; /* Указываем, что это интерактивный элемент */
    gap: 2px;
    position: absolute;
    left: 90%;
}

.burger-strip {
    width: 5px; /* Ширина полосок */
    height: 35px; /* Высота полосок */
    background-color: #EFA31A; 
    margin: 2px 0; /* Отступы между полосками */
    transition: all 0.3s ease; /* Плавный переход */
}

/* Эффект при активном состоянии бургер-меню */
.vertical-burger.active .burger-strip:nth-child(1) {
    transform: translateY(9px) rotate(45deg); /* Первая полоска */
}

.vertical-burger.active .burger-strip:nth-child(2) {
    opacity: 0; /* Вторая полоска исчезает */
}

.vertical-burger.active .burger-strip:nth-child(3) {
    opacity: 0; /* Третья полоска исчезает */
}

.vertical-burger.active .burger-strip:nth-child(4) {
    transform: translateY(-9px) rotate(-45deg); /* Четвертая полоска */
}
.burger-menu:hover .burger-line {
    background-color: #555; /* Цвет полосок при наведении */
}
.modal-contentGroup {
    height: 100%;
    border-radius: 5px;
    width: 75%;
    background-color:#3C3C3C;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex; /* Используем flexbox */
    flex-direction: column; /* Вертикальное расположение элементов */
}   
.modal-contentGroup form {
    flex-grow: 1; /* Занимаем оставшееся пространство */
}
.groupBlock button{
    margin-top: 20px;
    height: 60px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    width: 90%;
    text-decoration: none;
    border: 3px solid #EFA31A;
    background-color: #545454;
    color: #EFA31A;
    font-weight: 700;
    font-size: 1.5em;
}
.btnClose {
    margin-top: 20px;
    height: 60px;
    border-radius: 20px;
    margin-bottom: 20px;
    border: none;
    position: absolute;
    top: 84%;
    width: 55%;
    border: 2px solid  black;
}