.modal-overlayGroup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
    font-family: 'AKONY', sans-serif;
}
.groupBlock{
    font-family: 'AKONY', sans-serif;
}
.modal-contentGroup {
    padding: 20px;
    height: 100%;
    border-radius: 20px;
    width: 55%;
    background-color: #FFFFFF66;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex; /* Используем flexbox */
    flex-direction: column; /* Вертикальное расположение элементов */
}   
.modal-contentGroup form {
    flex-grow: 1; /* Занимаем оставшееся пространство */
}
.groupBlock button{
    margin-top: 20px;
    height: 60px;
    border-radius: 20px;
    font-family: 'AKONY', sans-serif;
    margin-bottom: 10px;
    border: none;
    width: 100%;
}
.btnClose {
    margin-top: 20px;
    height: 60px;
    border-radius: 20px;
    font-family: 'AKONY', sans-serif;
    margin-bottom: 20px;
    border: none;
    position: absolute;
    top: 84%;
    width: 55%;
    border: 2px solid  black;
}