.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Убедитесь, что модальное окно поверх других элементов */
    font-family: 'AKONY', sans-serif;
    
}
.modal-content svg{
    margin-right: 2%;
}
.modal-content {
    position: relative;
    font-family: 'CenturyGothic', sans-serif;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: auto;
    height: 300px;
    width: 70%;
    background-color: #545454;
    color: #EEA21B;
    font-size: 22px;
}
.subject{
    font-weight: 700;
    margin-bottom: 2%;
}
.deadlineDate{
    font-style: italic;
    margin-bottom: 2%;
}
.deadline{
    font-weight: 700;
    margin-bottom: 2%;
}
.description{
    font-weight: 700;
    margin-bottom: 2%;
    margin-left: 6%;
}
.descText{
    font-weight: 400;
    margin-bottom: 2%;
}
button {
    font-family: 'CenturyGothic', sans-serif;
    margin-top: 20px;
}
.btnCloseModal{
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    font-size: 18px;
}
.deleteButton {
    top: 10px; /* Отступ сверху */
    right: 10px; /* Отступ справа */
    background: none; /* Убираем фон */
    border: none; /* Убираем рамку */
    cursor: pointer; /* Указываем, что это кнопка */
    color: red; /* Цвет кнопки */
    font-size: 18px; /* Размер шрифта для кнопки */
}
.deleteButton button{
    width: 90%;
    background-color: #302E2E;
    color: red;
    height: 40px;
    font-size: 22px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    font-family: 'CenturyGothic', sans-serif;
    top: 80%;
    position: absolute;
}