.modal-overlayClose {
    position: fixed;
    top: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Сдвиг на половину ширины и высоты */
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 71%; /* Можно настроить по желанию */
    height: 29%; /* Можно настроить по желанию */
    z-index: 1000;
    font-family: 'AKONY', sans-serif;
    flex-direction: column;
    border-radius: 10px;
}
.modal-contentClose button{
    width: 100%;
    position: static;
    margin-bottom: 8%;
    font-family: 'AKONY', sans-serif;
}
.modal-contentClose button:last-child{
    width: 100%;
    position: static;
    margin-bottom: 8%;
    font-family: 'AKONY', sans-serif;
    background-color: #37ad00;
}
.modal-overlayCloseText{
    font-size: 12px;
    margin-top: 15%;
}
.modal-contentClose{
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: auto;
}